<%- include ("partials/header") %>
<div class="flex flex-col justify-center items-center mt-10 h-[20vh]">
  <h1 class="w-2/4 font-bold text-5xl text-center text-slate-100 capitalize">These Are The Collection Of Books of Hadith That we provide</h1>
</div>


<div
  class="flex flex-wrap justify-center items-center border-2 border-slate-500 mt-10 p-10 w-fit h-fit text-center md:text-left"
>
  <% books.books.forEach((book) => { %>
  <a href="/hadith/books/<%= book.bookSlug %>">
    <div
      class="flex flex-col justify-center border-2 border-slate-500 bg-zinc-900 hover:bg-zinc-950 m-4 p-4 rounded w-80 h-52 text-center"
    >
      <h2 class="font-bold text-2xl"><%= book.bookName %></h2>
      <p class="mb-2 border-b-4 text-gray-400 capitalize">
        Written By:<%= book.writerName %> رَحِمَهُ ٱللَّٰهُ
      </p>
      <% if (book.hadiths_count != 0){ %>
      <p class="text-gray-400 capitalize">
        Total Hadith: <%= book.hadiths_count %>
      </p>
      <% } %> <% if (book.chapters_count != 0){ %>
      <p class="text-gray-400 capitalize">
        Total Chapters: <%= book.chapters_count %>
      </p>
      <% } %>
    </div>
  </a>

  <% }) %>
</div>

<%- include ("partials/footer") %>
