<%- include ("partials/header") %>

<div class="container">
  <% if (surah && Array.isArray(surah.verses) && surah.verses.length > 0) { %>
  <ul>
    <% surah.verses.forEach(verse => { %>
    <li>
      Verse Number: <%= verse.verse_number %> (<%= verse.verse_key %>)<br />
      Hizb Number: <%= verse.hizb_number %><br />
      <strong>Verse Key:</strong> <%= verse.verse_key %><br />
      <strong>English Translation:</strong> <%= verse.translations %><br />
      <strong>Arabic Text (Uthmani):</strong> <%= verse.text_uthmani %><br />
      Rub El Hizb Number: <%= verse.rub_el_hizb_number %><br />
      Ruku Number: <%= verse.ruku_number %><br />
      Manzil Number: <%= verse.manzil_number %><br />
      Sajdah Number: <%= verse.sajdah_number || 'None' %><br />
      Page Number: <%= verse.page_number %><br />
      Juz Number: <%= verse.juz_number %><br />
    </li>
    <% }); %>
  </ul>
  <% } else { %>
  <p>No verses found.</p>
  <% } %>
</div>

<%- include ("partials/footer.ejs") %>
