<%- include ("partials/header") %>

<div
  class="flex flex-col justify-center items-center p-5 w-full h-fit surah-container text-center text-gray-800"
>
  <% if (surah && Array.isArray(surah.verses) && surah.verses.length > 0) { %>
  <ul>
    <% surah.verses.forEach(verse => { %>
    <li>
      Verse Number: <%= verse.verse_number %> (<%= verse.verse_key %>)<br />
      <strong>English Translation:</strong> <%= verse.translations %><br />
      <strong>Arabic Text (Uthmani):</strong> <%= verse.arabicText %><br />
    </li>
    <% }); %>
  </ul>
  <% } else { %>
  <p>No verses found.</p>
  <% } %>
</div>

<%- include ("partials/footer") %>
